body {
    font-family: Tahoma_Regular;
    margin: 0;
    font-size: 16px;
    /*font-weight:bold;*/
}
@font-face {
    font-family: 'fontello';
    src: url('../../content/fonts/fontello.woff') ;
}
@font-face {
    font-family: 'Tahoma_Bold';
    src: url('../../content/fonts/Tahoma_Bold.woff') ;
}
@font-face {
    font-family: 'Tahoma_Regular';
    src: url('../../content/fonts/Tahoma_Regular.woff');
}
.content {
    width: calc(100% - 200px);
    background-color: #ffffff;
    height: 100vh;
    margin-left: 200px;
    /*opacity: 0.4;*/
}
    .content .header {
        
        height: 50px;
        background-color: #0973b9;
        display:flex;
        justify-content:space-between;
    }
.header .header-left{
     padding-left:10px;
     
     padding-top:10px;
}
.header-left select{
     height:30px;
     width:200px;
     background-color:rgb(0, 148, 255);
}
    .content .main-content {
        
        padding: 10px;
        height: calc(100vh - 70px);
        background-color: #ffffff;
        position: relative;
    }

.main-content .title {
    
    display: flex;
    justify-content: space-between;
}
.title .title-left {
    height: 50px;
    margin: 5px 0px 5px 0px;
    font-size: 20px;
}
.title .title-right {
    display:flex;
    height: 50px;
    width: 380px;
    margin: 5px 0px 5px 0px;
}
.title-right button {
    display: flex;
    margin-right: 20px;
    height: 30px;
    justify-content: space-between;
    padding-top: 5px;
}
.bicon {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../content/image/Images/viewEmail.png");
}
.main-content .grid-content {
    border: 1px solid #ccc;
    position: absolute;
    left:10px;
    right:10px;
    bottom:10px;
    top:50px;
    background-color: #ffffff;
}
.grid-content .content1{
    height:30px;
    background-color:#f4f3f3;
    display:flex;
    border:none;
}


.content1 button {
    display: flex;
    height: 100%;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgba(0,0,0,00);
}
    .content1 button:hover {
        background-color: #ffffff;
        border: 1px solid  #0973b9;
    }
.icon{
     height:16px;
     width:16px;
     background-position:center;
     background-repeat:no-repeat;
     
 }

.bicon1 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -2415px;
}
.bicon2 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -1887px;
}
.bicon3 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -1871px;
}
.bicon4 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -2000px;
}
.bicon5 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -2585px;
}
.bicon6 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -1551px;
}
.bicon7 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -1551px;
}
.bicon8 {
    background-image: url("../../content/image/Images/iconHelp.png");
    
}
.content1 button span{
    padding-right:10px;
    
}

/*table*/
.grid-content .content2 {
    border: 1px solid #ccc;
    height: calc(100% - 60px);
    overflow: auto;
}

.content2 table,th,td {
    border: 1px solid #808080 !important;
    width: 500px !important;
   padding-left:10px;
}
.content2 table {
    border-collapse: collapse;
    width: 5000px !important;
}
table{
    border-collapse:collapse;
}
table tr:nth-child(odd){
    background-color:#eee;
}
    table tr:nth-child(even) {
        background-color: #ccc;
    }
    table th {
        background-color: #ccc;
    }
    /*phân trang*/
    .grid-content .content3 {
        height: 28px;
        background-color: #f4f3f3;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 20px);
        justify-content: space-between;
    }
.content3-left {
    padding:2px;
    display: flex;
    height: 100%;
    width:100%;

}
    .content3-left input {
        height: 16px;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .content3-left label {
        height: 16px;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }


.content3-left button {
    display: flex;
    height: 100%;
    border: none;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
    .page-icon {
        height: 25px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
.page-pre{
    border:none;
    background-image: url("../../content/image/Images/toolbar-scroller-left.png");
    
}
.page-next{
    border: none;
    background-image: url("../../content/image/Images/toolbar-scroller-right.png");
}
.page-return{
    margin-top: 3px;
    border: unset;
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -431px;
    height: 20px !important;
    width: 20px !important;
}
select{
    margin:2px;
}

.content3-right{
    padding-top:5px;
    width: 180px;
}


.modal-content {
    position: fixed;
    left:400px;
    top:100px;
    height: 400px;
    width: 700px;
    border: 5px solid #0973b9;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:#ffffff;
}
.modal-header {
    position: absolute;
    margin: 0;
    height: 50px;
    width: 100%;
    background-color: #0973b9;
    display:flex;
    justify-content:space-between;
}
.modal-header .close{
    margin-right:10px;
    margin-top:10px;
}
.modal-body  {
    margin-top:50px;
    height: calc(400px - 100px);
    width: 100%;
    border:unset !important;
}
#modal td {
    background-color: #ffffff !important;
    border: unset !important;
    width: 150px !important;
}

#modal .note {
    color: rgb(255, 0, 0) !important;
}
#modal .input-create1 {
    width: 95%;
}
.modal-footer {
    height: 20px;
    width: 100%;
    display:flex;
    background-color:#ffffff;
    justify-content:space-between;
}
.footer-left{
    display:flex;
    margin-left: 20px;
}
.footer-right {
    display: flex;
    margin-right:20px;
}
    .footer-right button {
        display: flex;
        margin-right: 20px;
    }
.modal-footer .footer-left button{
    display:flex;
    justify-content:space-between;
}

.bicon9 {
    background-image: url("../../content/image/Images/iconHelp.png");
    padding-right:10px;
}
.bicon10 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -767px !important;
    padding-right: 10px;
}
.bicon11 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -737px !important;
    padding-right: 10px;
}
.bicon12 {
    background-image: url("../../content/image/Images/IconSprite.png");
    background-position-y: -1953px !important;
    padding-right: 10px;
}
