/*body {
    font-family: Tahoma_Regular;
    margin: 0;
    font-size: 13px;*/
    /*font-weight:bold;*/
/*}

@font-face {
    font-family: 'fontello';
    src: url('../../content/fonts/fontello.woff');
}

@font-face {
    font-family: 'Tahoma_Bold';
    src: url('../../content/fonts/Tahoma_Bold.woff');
}

@font-face {
    font-family: 'Tahoma_Regular';
    src: url('../../content/fonts/Tahoma_Regular.woff');
}*/

.menu {
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #0973b9;
   /* opacity: 0.4;*/
}

    .menu .logo {
        height: 50px;
        width: 100%;
        background-color: #0973b9;
        display: flex;
    }

.menu .menu-content {
    width: 100%;
    height: calc(100vh - 50px);
}
.logo .icon-left-header {
    width: 25px;
    height: 100%;
    margin-left: 5px;
    background-image: url('/content/image/Images/icon-left-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0973b9;
}
.logo .logo-text {
    width: calc(100% - 25px);
    height: 100%;
    background-image: url('/content/image/Images/logo-text.png');
    background-repeat: no-repeat;
    background-position: center;
}
.menu-content .menu-item {
    display: flex;
    width: 100%;
    height: 40px;
    border-top: 1px solid #1b8bd4;
    border-bottom: 1px solid #08598e;
    line-height: 40px;
    
}
.menu-content .menu-item:hover{
    background-color:#0094ff;

}
.menu-content .menu-item-icon {
    width: 25px;
    height: 25px;
    background-repeat:no-repeat;
    /*background-position-y:-116px;*/
    align-self:center;
    margin-left:5px;
}
.menu-content .menu-item-text {
    color: #ffffff;
    margin-left: 10px;
}
.icon1 {
    background-image: url('/content/image/Images/iconMenu.png');
    
}
.icon2 {    
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-193px;
}
.icon3 {
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-373px;
}
.icon4 {
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-39px;
}
.icon5 {   
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-77px;
}
.icon6 {
    background-image: url('/content/image/Images/icon-deposit.png');
}
.icon7 {
    background-image: url('/content/image/Images/icon-cost.png');
}
.icon8 {
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-116px;
}
.icon9 {
    background-image: url('/content/image/Images/vector-smart-object.png');
}
.icon10 {
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-153px;
}
.icon11 {
    background-image: url('/content/image/Images/iconMenu.png');
    background-position-y:-232px;
}
.icon12 {
    background-image: url('/content/image/Images/iconHelp.png');
}
.icon13 {
    background-image: url('/content/image/Images/icon-subscriber.png');
}
.menu-content a {
    text-decoration:none !important;
}


